<template>
    <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left" >
  <div class="blog-grid-top">

    <h2 style="text-align:center;">
      <a href="#">{{article.title}}</a>
    </h2>
    <p style="padding-top:10px;" v-html="article.content"></p> 
    <p style="font-style : italic ;"> Date Created : {{article.dateCreate | formatDate}}</p>
  </div>
    <list-comment v-bind:listComment="commentList"></list-comment>
    <post-comment v-bind:id="article.id"></post-comment>
  </div>

</template>


<script>
import ListComment from './ListComment'
import PostComment from './PostComment'
const HTTPBASE = 'http://localhost:53498/api/';
import axios from "axios";
import moment from 'moment';

export default {
    name: 'DetailArticle',
    data() {
        return {
            article : {
                id:'',
                title:'',
                content:'',
                dateCreate: ''
            },
            commentList :'',
        }
    },
    props: {
        idArticle : ''
    },
    components: {
        ListComment,
        PostComment
    },
    created() {
        this.changed(this.idArticle)
    },
    filters: {
		formatDate: function (value) {
			 if (value) {
				return moment(String(value)).format('MM/DD/YYYY')
  			}
		},
	
    },
    beforeRouteUpdate(to, from, next) {
        console.log(to.params.idArticle);
        this.changed(to.params.idArticle)
        next()

  },
  methods: {
      changed(id){
          axios.get( HTTPBASE +'Article/GetArticleById/'+id)
			.then( res => {
				this.article = res.data
			}) 
			.catch(error => {
        	console.log(error)
          }),
           console.log(this.idArticle+'abc')
            axios.get( HTTPBASE +'Comment/GetCommentById/'+id)
                .then( res => {
                    this.commentList = res.data
                    console.log(commentList)
                }) 
                .catch(error => {
                console.log(error)
            })
      }
  }
}
</script>


