<template>
   <header class="header">
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="index.html">
						<i class="fab fa-linode"></i> Weblog</a>
				</div>
				
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0" v-if="isLogin">
					<span>Welcome Back! {{isLogin}}</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a @click="logout" >
							<i class="fas fa-lock"></i> Sign Out</a>
					</span>
					<span>
						<router-link to="/registeruser">
							<i class="far fa-user"></i> Register</router-link>
					</span>
				</div>

				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0" v-else>
					<span>Welcome Back!</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						<router-link to="/login">
							<i class="fas fa-lock"></i> Sign In</router-link>
					</span>
					<span>
						<router-link to="/registeruser">
							<i class="far fa-user"></i> Register</router-link>
					</span>
				</div>
				<div class="col-md-4 log-icons text-right">

					<ul class="social_list1 mt-3">

						<li>
							<a href="#" class="facebook1 mx-2" >
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href="#" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="#" class="dribble3 mx-2">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="#" class="pin">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

			<div class="header_top" id="home">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				   </button>


					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<router-link tag='li' to="/" class="nav-item">
								<a class="nav-link">Home</a>
							</router-link>
							<router-link tag='li' to="/postarticle" class="nav-item">
								<a class="nav-link">Post Article</a>
							</router-link>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
								    aria-expanded="false">
									Features
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#"></a>
									<a class="dropdown-item" href="blog1.html">Standard Blog</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="blog2.html">2 Column Blog</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="blog3.html">3 Column Blog</a>

								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/">Contact</a>
							</li>

						</ul>
							<form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
								<input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
								<button class="btn btn1 my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
							</form>
		
						

					</div>
				</nav>

			</div>
	</header>
</template>

<script>


export default {
  name: 'HeaderTemplate',
  components: {
   
  },
  computed: {
	isLogin(){
		return this.$store.state.username
	}
  },
  methods:{
	  logout(){
		   	this.$store.dispatch('isLogout')
		   	localStorage.removeItem("username") 
		   	localStorage.removeItem("token")
			localStorage.removeItem("idUserProfile")
	  }
  }
}
</script>


