<template>
    <div class="comment-top" v-if="listComment.length > 0 " >
        <h4 >Comments</h4>
        <div class="media" style="padding-top:10px;" v-for="ctemp in listComment" :key="ctemp.id" >
            <img src="../assets/images/t3.jpg" alt="" class="img-fluid" />

            <div class="media-body">
                <h6> <strong> Name : {{ctemp.fullname}}</strong> </h6>
                <span style="word-wrap:break-word;">
                   Content : {{ctemp.detailComment}}
                </span>
                <span style="word-wrap:break-word;"> <br/>
                   Date Created : {{ctemp.dateCreate | formatDate}}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
const HTTPBASE = 'http://localhost:53498/api/';
import axios from "axios";
import moment from 'moment';

export default {
    name: 'ListComment',
    props: {
        listComment: '',
    },
	filters: {
		formatDate: function (value) {
			 if (value) {
				return moment(String(value)).format('MM/DD/YYYY')
  			}
		},
	},
   
}
</script>
