<template>
    <section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Sign In</h3>
				<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				<form v-on:submit.prevent="submitForm" method="post">
						<div class="form-row">
								<div class="col-md-6 mb-3">
								    <label >User Name</label>
									<input type="text" class="form-control" name="username"   v-model="user.username" placeholder="username">
                                    
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="exampleInputPassword1 mb-2">Password</label>
								    <input name="password" type="password" class="form-control" placeholder="Password" ref="password" v-model="user.password">
                                   
								</div>
								
							</div>
							<button type="submit" class="btn btn-primary submit mb-4">Login</button>
								<p>
                                    <router-link to="/registeruser">By clicking Signup</router-link>
									
								</p>
						</form>
		
					</div>
			</div>
		</div>
	</section>
</template>

<script>
const HTTPBASE = 'http://localhost:53498/api/';


import axios from "axios";
export default {
    name:'Login',
    data() {
          return {
              user : { 
                username : '',
                password : '',
              },
              
              
          }
    },
    methods: {
        submitForm : function (event) {
            axios.post( HTTPBASE+'User/Login', this.user, { "content-type": "application/json" }).then(res => {
                localStorage.setItem("token",res.data.token)
                localStorage.setItem("username",res.data.userName)
                localStorage.setItem("idUserProfile",res.data.id)
                this.$store.dispatch('isLogin',localStorage.getItem("username"))
                this.$router.push('/')
            })
            .catch(e => {
                console.log(e)
            })
        }
  }
}
</script>
