<template>
    <div>
					<div class="blog-grid-top" v-if="articleList.length > 0 ">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<router-link :to="{ name: 'detailarticle', params: { idArticle: articleList[0].id }}">
									<img :src="'http://localhost:53498/images/'+articleList[0].picture" class="img-fluid" alt="">
								</router-link>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<router-link :to="{ name: 'detailarticle', params: { idArticle: articleList[0].id }}">
											<i class="far fa-calendar-alt" ></i> {{articleList[0].dateCreate | formatDate }}</router-link>
									</li>
									<li class="mx-2">
										<router-link :to="{ name: 'detailarticle', params: { idArticle: articleList[0].id }}">
											<i class="far fa-thumbs-up"></i> 201 Likes</router-link>
									</li>
									<li>
										<router-link :to="{ name: 'detailarticle', params: { idArticle: articleList[0].id }}">
											<i class="far fa-comment"></i> 15 Comments</router-link>
									</li>
									
								</ul>
							</div>
						</div>

						<h3>
							<router-link :to="{ name: 'detailarticle', params: { idArticle: articleList[0].id }}">{{articleList[0].title}}</router-link>
						</h3>
						<p v-html="this.$options.filters.liveSubstr(articleList[0].content)"> </p>
						<router-link :to="{ name: 'detailarticle', params: { idArticle: articleList[0].id }}">Read More</router-link>
					</div>
				
					<div class="blog-girds-sec" v-if="articleList.length > 0 ">
						<div class="row">
							<div v-for="article in articleList.slice(0,4)" :key="article.id" class="col-md-6 blog-grid-top">
								<div class="b-grid-top">
									<div class="blog_info_left_grid">
										<router-link :to="{ name: 'detailarticle', params: { idArticle: article.id }}">
											<img :src="'http://localhost:53498/images/'+article.picture" class="img-fluid" alt="">
										</router-link>>
									</div>
									<h3>
										<a href="single.html">{{article.title}} </a>
									</h3>
								</div>
								<ul class="blog-icons">
									<li>
										<a href="#">
											<i class="far fa-clock"></i>{{article.dateCreate | formatDate }}</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-comment"></i> 21</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-eye"></i> 2000</a>
									</li>
									
								</ul>
							</div>
							
						</div>
					</div>
    </div>
</template>

<script>

const HTTPBASE = 'http://localhost:53498/api/';

import axios from "axios";
import moment from 'moment';
export default {
	name: 'MainLeftTemplate',
	data() {
		return {
			articleList : [],
			
		}
	},
	filters: {
		formatDate: function (value) {
			 if (value) {
				return moment(String(value)).format('MM/DD/YYYY')
  			}
		},
		liveSubstr: function(string) {
      		return string.substring(121,450) + '...';
        }
		
	},
	mounted() {
		axios.get( HTTPBASE +'Home/GetAllArticle')
		.then( res => {
			this.articleList = res.data;
		}) 
		.catch(error => {
        console.log(error)
	  })
	
	},
	
	
}
</script>
