<template>
    	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<router-view/>
				</div>
				<!-- <main-left-template></main-left-template> -->
			
				<!--//left-->
				<!--right-->
				<main-right-template></main-right-template>
			
				<!--//right-->
				
			</div>
			<!-- <router-view/> -->
		</div>
	</section>
</template>

<script>

import MainRightTemplate from './MainRightTemplate';
import MainLeftTemplate from './MainLeftTemplate';


export default {
  name: 'app',
  components: {
	  MainRightTemplate,
	  MainLeftTemplate
   
  }
}
</script>
