<template>
<div>
    <h3 class="tittle">Post Article</h3>
    <div class="inner-sec">
        <div class="login p-5 bg-light mx-auto mw-100">
            <form v-on:submit.prevent="submitForm" method="post">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom01"><strong>Title</strong></label>
                    <input type="text" class="form-control" placeholder="Title Your Article" name="title"  v-validate="'required'" v-model="article.title">
                     <span class="help-block" v-show="errors.has('title')">Please enter title</span>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                    <label><strong>Content</strong></label>
                     <froala :tag="'textarea'" :config="config" v-model="article.content"></froala>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary submit mb-4">Post</button>
            </form>
            
        </div>
    </div>
</div>
</template>

<script>
import VueFroala from 'vue-froala-wysiwyg';
import axios from "axios";

export default {
    name: 'PostArticle',
     data() {
          return {
              article : { 
                title : '',
                content : '',
                idUserProfile: '',
                dateCreate: '',
              },
                config: {
                    events: {
                    'froalaEditor.initialized': function () {
                        console.log('initialized')
                    },
                    'froalaEditor.image.uploaded': function (e, editor, response) {
                        console.log(response);
                        }
                    },
                    imageUploadURL:'http://localhost:53498/api/UploadFile',
                    imageUploadMethod: 'POST',
                   
                   
                },
                token: ''
                
          }
    },
     methods: {
        submitValidation: function() {
        this.$validator
            .validateAll()
            .then(function(response) {
            
            })
            .catch(function(e) {
            console.log(e)
            })
        },
        submitForm : function (event) {
            console.log(this.article);
            console.log(localStorage.getItem("idUserProfile"))
            this.article.idUserProfile = localStorage.getItem("idUserProfile")
            this.article.dateCreate = new Date()
            this.token = localStorage.getItem('token')
             axios({method: 'post',url: "http://localhost:53498/api/Article/CreateArticle",data : this.article ,headers: { "content-type": "application/json" ,  "Authorization": "Bearer " + this.token }}).then(res => {
                this.$router.push('/')
            })
            .catch(e => {
                console.log(e)
            })
        }
     }
}
</script>

