<template>
    <div class="comment-top">
        <h4>Leave a Comment </h4>
        <div class="comment-bottom">
            <div class="media" style="padding-top:10px;">
                <img src="../assets/images/t3.jpg" alt="" class="img-fluid" />
                <div class="media-body">
                    <form  style="padding-left : 10px;" v-on:submit.prevent="submitForm" method="post">
                    <h6> <strong> Name : {{postComment.fullName}}</strong> </h6>
                    <textarea class="form-control" v-model="postComment.detialComment" placeholder="Message..." ></textarea>
                    <div style="padding-top:10px;">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
       </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name : "PostComment",
    props :{
        id : ''
    },
    data(){
        return {
            postComment : {
                idArticle: '' ,
                fullName: '',
                detialComment: '',
                dateCreate: '' 
            },
            token : '' 
        }
    },
    methods: {
        submitForm : function (event) {
            this.token = localStorage.getItem('token')
            this.postComment.idArticle = this.id
            this.postComment.dateCreate = new Date()
            console.log(this.postComment)
            console.log(this.token)
            axios({method: 'post',url: "http://localhost:53498/api/Comment/CreateComment",data : this.postComment ,headers: { "content-type": "application/json" ,  "Authorization": "Bearer " + this.token }}).then(res => {
                var id = this.id
                this.$router.push({name: 'detailarticle', params :{id}})
            })
            .catch(e => {
                alert("please login")
                console.log(e)
            })
        }
  }

}
</script>
