<template>
       <div class="tech-btm" v-if="recentCommentList.length > 0">
							<h4>Recent Comments  </h4>
			
							
							<div class="blog-grids row mb-3" v-for="recentComment in recentCommentList" :key="recentComment.id" >
								<div class="col-md-5 blog-grid-left" >
									<a href="/">
										<img src="../assets/images/b2.jpg" class="img-fluid" alt="">
									</a>
								</div>
								<div class="col-md-7 blog-grid-right">
									<h5>
										<a href="/"><p style="font-style: italic;">Name : {{recentComment.fullname}}</p></a>
									</h5>
									<h5>
										<a href="/">{{recentComment.detailComment | liveSubstr}}</a>
									</h5>
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i> {{recentComment.dateCreate | formatDate }}</span>
									</div>
								</div>
								
							</div>
						
						
						
						</div>
</template>
<script>
const HTTPBASE = 'http://localhost:53498/api/';
import axios from "axios";
import moment from 'moment';

export default {
	name: 'RecentComment',
	data() {
		return {
			recentCommentList : []
		}
		
	},
	filters: {
		formatDate: function (value) {
			 if (value) {
				return moment(String(value)).format('MM/DD/YYYY')
  			}
		},
		liveSubstr: function(string) {
      		return string.substring(0,200) + '...';
        }
		
	},
	mounted() {
		axios.get( HTTPBASE +'Home/GetRecentComment')
			.then( res => {
				this.recentCommentList = res.data;
			}) 
			.catch(error => {
        	console.log(error)
	  	})
	  }
}
</script>
