<template>
       <div class="tech-btm" v-if="recentPostList.length > 0 ">
							<h4>Recent Posts</h4>
							
						
							
							<div class="blog-grids row mb-3" v-for="recentPost in recentPostList" :key="recentPost.id">
								<div class="col-md-5 blog-grid-left">
									<router-link :to="{ name: 'detailarticle', params: { idArticle: recentPost.id }}">
										<img :src="'http://localhost:53498/images/'+recentPost.picture"  class="img-fluid" alt="">
									</router-link>
								</div>
								<div class="col-md-7 blog-grid-right">
									<h5>
										<router-link :to="{ name: 'detailarticle', params: { idArticle: recentPost.id }}">{{recentPost.title}}</router-link>
									</h5>
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i> {{recentPost.dateCreate | formatDate}}</span>
									</div>
								</div>
								
							</div>
						
						
						
						</div>
</template>
<script>
const HTTPBASE = 'http://localhost:53498/api/';
import axios from "axios";
import moment from 'moment';

export default {
	name: 'RecentPost',
	data() {
		return {
			recentPostList : []
		}
		
	},
	filters: {
		formatDate: function (value) {
			 if (value) {
				return moment(String(value)).format('MM/DD/YYYY')
  			}
		},
		liveSubstr: function(string) {
      		return string.substring(121,200) + '...';
        }
		
	},
	
	mounted() {
		axios.get( HTTPBASE +'Home/GetRecentArticle')
			.then( res => {
				this.recentPostList = res.data;
			}) 
			.catch(error => {
        	console.log(error)
	  	})
	  }
}
</script>
