<template>
    <section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Register Now</h3>
				<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				<form v-on:submit.prevent="submitForm" method="post">
						<div class="form-row">
								<div class="col-md-6 mb-3">
								    <label >User Name</label>
									<input type="text" class="form-control" name="username"  v-validate="'required'" v-model="user.username" placeholder="username">
                                    <span class="help-block" v-show="errors.has('username')">Please enter username</span>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="exampleInputPassword1 mb-2">Password</label>
								    <input v-validate="'required'" name="password" type="password" class="form-control" placeholder="Password" ref="password" v-model="user.password">
                                    <span class="help-block" v-show="errors.has('password')">Please enter password</span>
								</div>
								<div class="form-group col-md-6">
									<label for="exampleInputPassword2 mb-2">Confirm Password</label>
									<input v-validate="'required|confirmed:password'" name="password_confirmation" type="password" class="form-control" placeholder="Password, Again" data-vv-as="password">
                                    <span class="help-block" v-show="errors.has('password_confirmation')">The password confirmation does not match </span>
								</div>
							</div>
							<button type="submit" class="btn btn-primary submit mb-4">Register</button>
								<p>
									<a href="#">By clicking Signup</a>
								</p>
						</form>
		
					</div>
			</div>
		</div>
	</section>
</template>

<script>
const HTTPBASE = 'http://localhost:53498/api/';

import axios from "axios";
export default {
    name:'RegisterUser',
    data() {
          return {
              user : { 
                username : '',
                password : '',
              },
              
          }
    },
    methods: {
        submitValidation: function() {
        this.$validator
            .validateAll()
            .then(function(response) {
            
            })
            .catch(function(e) {
            console.log(e)
            })
        },
        submitForm : function (event) {
            console.log(this.user);
            axios.post( HTTPBASE+'User/RegisterUser', this.user, { "content-type": "application/json" }).then(res => {
                var id = res.data 
                console.log(res.data)
                
                this.$router.push({name: 'registeruserprofile', params :{id}})
            })
            .catch(e => {
                console.log(e)
            })
        }
  }
}
</script>
