<template>
 <section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Register Now</h3>
				<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				<form v-on:submit.prevent="submitForm" method="post">
						<div class="form-row">
								<div class="col-md-6 mb-3">
								    <label >First Name</label>
									<input type="text" class="form-control" name="firstname"  v-validate="'required'" v-model="userProfile.firstname" placeholder="first name">
                                    <span class="help-block" v-show="errors.has('firstname')">Please enter first name </span>
                                </div>
                                <div class="col-md-6 mb-3">
                                     <label >Last Name</label>
									<input type="text" class="form-control" name="lastname"  v-validate="'required'" v-model="userProfile.lastname" placeholder="last name">
                                    <span class="help-block" v-show="errors.has('lastname')">Please enter last name</span>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6 mb-3">
								    <label >Email</label>
									<input type="email" class="form-control" name="email"  v-validate="'required|email'" v-model="userProfile.email" placeholder="email">
                                    <span class="help-block" v-show="errors.has('email')">Please enter first name </span>
                                </div>
                                <div class="col-md-6 mb-3">
                                     <label >Address</label>
									<input type="text" class="form-control" name="address"  v-model="userProfile.address" placeholder="Address">   
								</div>
							</div>
							<button type="submit" class="btn btn-primary submit mb-4">Register</button>
							
						</form>
		
					</div>
			</div>
		</div>
	</section>
</template>
<script>
const HTTPBASE = 'http://localhost:53498/api/';

import axios from "axios";
export default {
    name:'RegisterUserProfile',
    props:{
        id : ''
    },
    data() {
          return {
              userProfile : { 
                firstname : '',
                lastname : '',
                address : '',
                idUser : '',
                email : '',
              },
              idUserProfile : '', 
             
          }
    },
    methods: {
        submitValidation: function() {
           
        this.$validator
            .validateAll()
            .then(function(response) {
                
            })
            .catch(function(e) {
                console.log(e)
            })
        },
        submitForm : function (event) {
           this.userProfile.idUser = this.id;

          
             console.log(this.userProfile);

            axios({method: 'post',url: "http://localhost:53498/api/User/RegisterUserProfile",data : this.userProfile ,headers: { "content-type": "application/json" }})
            .then(res => {
                this.idUserProfile = res 
                console.log(this.idUserProfile);
                this.$router.push('/')
            })
            .catch(e => {
                console.log(e)
            })
        }
  }
}
</script>
