<template>
    <section class="bottom-slider">
		<div class="course_demo1">
			<ul id="flexiselDemo1">
				<li>
					<div class="blog-item">
						<img src="images/1.jpg" alt=" " class="img-fluid" />
						<button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-play"></i>
						</button>

						<div class="floods-text">
							<h3>The fed and inequality
								<span>Blogger
									<label>|</label>
									<i>Adom Smith</i>
								</span>
							</h3>

						</div>
					</div>
				</li>
				<li>
					<div class="blog-item">
						<img src="images/2.jpg" alt=" " class="img-fluid" />
						<button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-play"></i>
						</button>

						<div class="floods-text">
							<h3>The fastest insect in the world
								<span>Blogger
									<label>|</label>
									<i>Adom Smith</i>
								</span>
							</h3>

						</div>
					</div>
				</li>
				<li>
					<div class="blog-item">
						<img src="images/3.jpg" alt=" " class="img-fluid" />
						<button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-play"></i>
						</button>


						<div class="floods-text">
							<h3>Billionaires versus Millionaires
								<span>Blogger
									<label>|</label>
									<i>Adom Smith</i>
								</span>
							</h3>

						</div>
					</div>
				</li>
				<li>
					<div class="blog-item">
						<img src="images/4.jpg" alt=" " class="img-fluid" />
						<button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-play"></i>
						</button>


						<div class="floods-text">
							<h3>Billionaires versus Millionaires
								<span>Blogger
									<label>|</label>
									<i>Adom Smith</i>
								</span>
							</h3>

						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="embed-responsive embed-responsive-21by9">
							<iframe src="https://player.vimeo.com/video/145787219"></iframe>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</template>
