<template>
  <div>
      <header-template></header-template>
      <banner-template></banner-template>
      <!-- <slider-template></slider-template> -->
      <main-template></main-template>
      <footer-template></footer-template>
      <a href="#home" class="scroll" id="toTop" style="display: block;">
	  	  <span id="toTopHover" style="opacity: 1;"> </span>
	    </a>
      
  </div>

  
  
	

</template>

<script>

import HeaderTemplate from './components/HeaderTemplate.vue';
import  BannerTemplate  from './components/BannerTemplate';
import SliderTemplate from "./components/SliderTemplate.vue";
import MainTemplate from "./components/MainTemplate.vue";
import FooterTemplate from './components/FooterTemplate';
import './assets/js/jquery-2.2.3.min.js';
import './assets/js/main.js';
import './assets/js/jquery.desoslide.js';
import './assets/js/jquery.flexisel.js';
import './assets/js/move-top.js';
import './assets/js/easing.js';



export default {
  name: 'app',
  components: {
    HeaderTemplate,
    BannerTemplate,
    SliderTemplate,
    MainTemplate,
    FooterTemplate,

  }
}
</script>

<style>
@import './assets/css/bootstrap.css';
@import './assets/css/style.css';
@import './assets/css/jquery.desoslide.css';
@import './assets/css/fontawesome-all.css'; 
@import './assets/css/contact.css';
@import './assets/css/single.css';
</style>
